<h4 class="truncate">Eliminar</h4>

<div class="row">
    <form class="col s12" action="http://localhost:8080/eliminar" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="codigo del ave" id="codigoave" name="codigoave" type="text" class="validate" >
          <label for="codigoave">codigo del ave</label>
        </div>
      </div>
     
      <input type="submit" value="Eliminar" class="waves-effect waves-light btn">
    </form>
  </div>
