<table class="striped">
  <thead>
    <tr>
      <th>CODIGO DEL AVE</th>
      <th>NOMBRE</th>
      <th>NOMBRE CIENTIFICO</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ave of response">
      <td>{{ ave.cdave }}</td>
      <td>{{ ave.dsnombre_comun }}</td>
      <td>{{ ave.dsnombre_cientifico }}</td>
    </tr>
  </tbody>
</table>
<ul class="pagination" style="margin-left: 1198px;" >
  <li class="disabled"><a href="#!"><i class="material-icons"></i></a></li>
  <li class="active"><a href="#!">1</a></li>
  <li class="waves-effect"><a href="#!">2</a></li>
  <li class="waves-effect"><a href="#!">3</a></li>
  <li class="waves-effect"><a href="#!">4</a></li>
  <li class="waves-effect"><a href="#!">5</a></li>
  <li class="waves-effect"><a href="#!"><i class="material-icons"></i></a></li>
</ul>
<app-insertar></app-insertar>
<app-eliminar></app-eliminar>
<app-actualizar></app-actualizar>

