<h4 class="truncate">Actualizar</h4>

<div class="row">
    <form class="col s12" action="http://localhost:8080/actualizar" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="codigo del ave" id="codigoave" type="text" class="validate" name="codigoave">
          <label for="codigoave">codigo del ave</label>
        </div>
        <div class="input-field col s6">
          <input id="nombre" name="nombre" type="text" class="validate">
          <label for="nombre">nombre del ave</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="nombrecientifico" name="nombrecientifico" type="text" class="validate">
          <label for="password">nombre cientifico</label>
        </div>
      </div>
      <input type="submit" class="waves-effect waves-light btn">
    </form>
  </div>

